@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Sora:wght@300;400;600;700&family=Source+Code+Pro:wght@700&family=Space+Grotesk&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .nav-items{
        @apply text-neutral-400 text-center text-xs/5 uppercase py-8 px-8 font-semibold tracking-wide font-sourceCodePro bor-gradient  hover:cursor-pointer; /*bor gradient -> custom*/
    }
    .div-gray-background{
        @apply absolute  hidden rounded-2xl xl:flex items-center gap-6 p-4 bg-lightGray;
    }
    .text-heading{
        @apply text-white font-sora text-5xl/[3.75rem] font-normal ;
        }
    .text-medium{
        @apply font-sora font-normal text-xl/[2.25rem] text-white;
    }
    .desc-style{
        @apply font-sora font-light text-base text-gray2;
    }    
}
@layer components{
      .button-style{
          @apply font-sourceCodePro font-bold text-xs/5 uppercase text-center tracking-wide;
      }
}
@layer utilities{
    
    .bor-gradient:hover{
        background-image: conic-gradient(from 180deg at 50% 50%, #D77DEE -43.01deg, #FACB7C 46.82deg, #89F9E8 129.02deg, #9299FC 226.76deg, #D77DEE 316.99deg, #FACB7C 406.82deg);
        -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
    }
    .border-gradient{
        position:relative;
        border-top-width:2.222px;
        border-bottom-width:2.222px;
        border-style:solid;
        border-image: conic-gradient(from 180deg at 50% 50%, #D77DEE -43.01deg, #FACB7C 46.82deg, #89F9E8 129.02deg, #9299FC 226.76deg, #D77DEE 316.99deg, #FACB7C 406.82deg) 1;
    }
    .border-gradient::after{
        @apply absolute -top-[1.778px] content-[url('./img/right.svg')];
    }
    .border-gradient::before{
        @apply absolute -top-[1.778px] content-[url('./img/left.svg')];
    }
    .card-border-gradient{     
        background-image: conic-gradient(from 180deg at 50% 50%, #D77DEE -43.01deg, #FACB7C 46.82deg, #89F9E8 129.02deg, #9299FC 226.76deg, #D77DEE 316.99deg, #FACB7C 406.82deg);
    }
    
    .card:hover .gradient-overly{
        z-index:-20;
    }
    .card:hover .tranmautritam{
        display:block;
    }
    .card:hover .back-div{
        display:block;
    }
    
}